{% extends 'shop/layouts/main.html' %}
{% load static %}

{% block content %}
<section>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="margin-top: 90px;">
      <div class="col-lg-12 col-xl-12">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 ">Sign Up</p>
                {% include 'shop/inc/message.html' %}
                <form class="mx-1 mx-md-4" method="POST" action="#">

                  {% csrf_token %}

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-2 mt-4 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <div>
                        <label class="form-label" for="form3Example1c">Enter Your Name</label>
                      </div>
                      <!-- <input type="text" id="form3Example1c" class="form-control" /> -->
                      {{ form.username }}
                      {% if form.username.errors %}
                      <label class="text-danger">{{ form.username.errors }}</label>
                      {% endif %}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-2 fa-fw mt-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <div>
                      <label class="form-label" for="form3Example3c">Enter Your Email</label>
                      </div>
                      <!-- <input type="email" id="form3Example3c" class="form-control" /> -->
                      {{ form.email }}
                      {% if form.email.errors %}
                      <label class="text-danger">{{ form.email.errors }}</label>
                      {% endif %}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-2 fa-fw mt-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <!-- <input type="password" id="form3Example4c" class="form-control" /> -->
                      <div>
                      <label class="form-label" for="form3Example4c">Enter Your Password</label>
                      </div>
                      {{ form.password1 }}
                      {% if form.password1.errors %}
                      <label class="text-danger">{{ form.password1.errors }}</label>
                      {% endif %}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-2 fa-fw mt-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <!-- <input type="password" id="form3Example4cd" class="form-control" /> -->
                      <div>
                      <label class="form-label" for="form3Example4cd">Enter Confirm Password</label>
                      </div>
                      {{ form.password2 }}
                      {% if form.password2.errors %}
                      <label class="text-danger">{{ form.password2.errors }}</label>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-3">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>                    
                    </label>

                  </div>
                  

                  <div class="d-flex justify-content-center mx-2 mb-3 mb-lg-3">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>
                  <p class="text-center text-muted mb-5 text-decoration-none">Already have an account? <a href="{% url 'login' %}"
                      class="text-decoration-none fw-bold ">Login Now</a></p>

                </form>

              </div>
              <div class="col-md-10 col-lg-7 col-xl-7  mb-5 d-flex align-items-center  order-1 order-lg-2">

                <img src ="{%static 'images/register-new.png' %}" class="img-fluid  mt-lg-0" alt="Sample image"
                  style="margin-top: 45px; border-radius: 15px; ">

              </div>
            </div>
          
        
      </div>
    </div>
  </div>
</section>


{% endblock %}